@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #171717;
}

.animation-delay-0 {
  animation-delay: 0s;
}
.animation-delay-500 {
  animation-delay: 0.5s;
}
.animation-delay-1000 {
  animation-delay: 1s;
}
.animation-delay-1500 {
  animation-delay: 1.5s;
}
.animation-delay-2000 {
  animation-delay: 2s;
}